<h1> Congratulations ! You have successfully installed the MEAN Stack</h1>

    <h2>You can start developing your app now !</h2>
    <ul> <h3> Currently Using :</h3>

        <li>NodeJS - <a href="https://nodejs.org/en/docs/">DOCS</a></li>
        <li>Webpack - <a href="https://webpack.js.org/concepts/">DOCS</a></li>
        <li>MongoDB - <a href="https://docs.mongodb.org/manual"> DOCS </a> </li>
        <li>Express - <a href="https://expressjs.com/">DOCS</a> </li>
        <li>MongooseJS - <a href="http://mongoosejs.com/docs/index.html"> DOCS </a></li>
        <li>Body Parser - <a href="https://www.npmjs.com/package/body-parser">DOCS</a></li>
        <li>Morgan - <a href="https://www.npmjs.com/package/morgan">DOCS</a></li>
        <li>AngularJS - <a href="https://docs.angularjs.org/guide">DOCS</a></li>
        <li>Angular UI Bootstrap - <a href="https://angular-ui.github.io/bootstrap/">DOCS</a></li> 
    </ul>